/* Checking size 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .area {
        width: 970px;  
    }

    .menu {
        width: 650px;
    }
    .title h2 {
        font-size: 35px;
     
    }
    .single-service h4 {
        font-size: 24px;
     
    }
    .single-service {
        width: 310px;
       
    }

    .about-left {
        float: left;
        width: 643px;
        margin-right: 10px;
    }

    .about-menu {
        width: 303px;
    }

    /* service responsive */

    .service-page .single-service {
        width: 227px;
    }

    /* contact responsive */
    .contact-form {
        width: 570px;
        
    }

    .contact-address {
        width: 350px;
    }

}


/* Checking Size: 800px */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .area {
        width: 750px;
    }
    .logo {
        width: 180px;
      
    }

    .menu {
        width: 500px;
    }
    .menu ul {
        margin-top: 7px;
    }
    .menu ul li a {
        font-size: 18px;
        padding: 5px 10px;
     
    }
    .title h2 {
        font-size: 35px;
        margin: 32px 0;
    }

    .single-service {
        width: 236px;
       
    }

    .single-service h4 {
        font-size: 20px;
    
    }

    .about-left {
        width: 500px;
     
    }
    .about-left h4, .about-menu h4, .contact-form h4, .contact-address h4 {
        margin: 30px 0 30px 0;
        font-size: 20px;
    }
    
    .about-menu {
        width: 240px;
    }

    /* services responsive */
    .title h2 {
        font-size: 30px;
        margin: 28px 0;
    }

    .service-page .single-service {
        width: 236px;
    }
    .single-service:last-child, .service-page, .single-service:nth-child(3), .single-service:nth-child(6) {
        margin-right: 0;
    }

    .single-service:nth-child(4) {
        margin-right: 20px;
    }

    .footer {
        margin-top: 5px;
    }

    /* gallery responsive */
    .single-gallery {
        width: 240px;
        margin-right: 15px;
    }

    .single-gallery:last-child, .gallery, .single-gallery:nth-child(3), .single-gallery:nth-child(6){
        margin-right: 0;
    }

    .single-gallery:nth-child(4) {
        margin-right: 15px;
    }

    /* contact responsive */
    .contact-form {
        width: 450px;
        margin-right: 10px;
    }

    .contact-form textarea {
        width: 100%;
        height: 150px;
        font-size: 20px;
        padding-left: 10px;
        border: 1px solid #ddd;
        margin-bottom: 15px;
    }
    .contact-address {
        width: 281px;
    }

    .footer {
        margin-top: 53px;
    }
}


/* Checking Size: 400px */
@media only screen and (max-width: 767px) {
    .area {
        width: 320px;
    }
    .menu, .about-left, .about-menu{
        width: 100%;
    }
    .menu ul {
        text-align: left;
        margin-top: 7px;
    }

    .menu ul li a {
        font-size: 15px;
        padding: 10px 11px;

        
    }

    .title h2 {
        font-size: 20px;
        margin: 20px 0;
    }
    .about-left h4, .about-menu h4, .contact-form h4, .contact-address h4 {
	margin: 40px 0 30px 0;
	font-size: 20px;
}

.about-left h4, .about-menu h4, .contact-form h4, .contact-address h4 {
	margin: 40px 0 30px 0;
	font-size: 20px;
}

    .single-service {
        width: 100%;
        margin-bottom: 12px;
    }

    .single-service h4 {
        font-size: 20px;
        
    }

    .footer {
        margin-top: 22px;
    }

    /* about responsive */
    .page-banner h2 {
        font-size: 25px;
    }

    /* services responsive */
    .service-page .single-service {
        width: 100%;
    }

    /* gallery responsive */
    .single-gallery {
        width: 100%;
     
    }


    /* contact responsive */
    .contact-form {
        width: 100%;
        
    }

    .contact-address {
        width: 100%;
        margin-bottom: 20px;
    }
    .map {
        margin-bottom: -12px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px){
    .area{
        width: 450px;
    }
}